/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Vista Mobile */
/* pagina index */
.grid-contenedor{
    height: 100vh;
}
/* .grid-contenedor > * {
    
} */ 

/* /*encabezado */
.header{
    height: 60px;
    background-color:#1b1f2f;
	position: sticky;
	top: 0px;
    padding-bottom: 10px;
    display:flex;
    justify-content:space-between;
}
.logo{
    height: 40px;
    border-radius: 30px;
    margin-top: 10px;
    
}
/* Menu hamburguesa */
.menu {
    font-size: 40px;
    margin: 10px;
    color: rgb(235, 240, 245);
}

.main{
    height: calc(100vh-60px)
}
/* imagen index */
.foto{
    background-image: url(../multimedia/ring.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}
.aside{
    height: 400px;
    padding: 10px;
    background-color:#47f0e7;
    text-align: center;
}
.tutorial{
    padding: 10px;
    text-transform:uppercase;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    background-size: cover;
    height: 80%;
    width: 90%;
}

.footer{
    background-color: #1b1f2f;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 15px;
}
/* iconos */
.footer i{
    letter-spacing: 5px;
    font-size: 15px;
}

/* /*enlaces */
a{
    color: #111101;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 13px;
    text-align: center;
}

/* /*titulo de cada pagina */
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

/* /*contenedor de titulos */
.titulos{
    background-color:#253b94;
    padding: 20px;
}
/* pagina nosotros */
/* /*contenedor de nosotros */

.nosotros{
    background-color: #253b94;
    height: 419px;
}

/* /*imagen nosotros */
.nleft{
    background-image: url(../multimedia/anillos.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}
/*parrafo de nosotros*/
.nright{
    height: 100%;
    padding: 10px;
}
/* pagina productos */
.productos{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 20px;
    padding: 20px;
}
.item{
    width: 100%;
    background-color:#3a5eee;
    border: 2px solid;
}
.item1{
    background-image: url(../multimedia/pulsera.jpg);
    background-size: cover;
    background-position: center;
}
.item2{
    background-image: url(../multimedia/reloj.jpg);
    background-size: cover;
    background-position: center;
}
.item3{
    background-image: url(../multimedia/anillo.jpg);
    background-size: cover;
    background-position: center;
}
.item4{
    background-image: url(../multimedia/colgante.jpg);
    background-size: cover;
    background-position: center;
}
.item5{
    background-image: url(../multimedia/anillos.jpg);
    background-size: cover;
    background-position: center;
}
.item6{
    background-image: url(../multimedia/amethys.jpg);
    background-size: cover;
    background-position: center;
}
.item7{
    background-image: url(../multimedia/adult.jpg);
    background-size: cover;
    background-position: center;
}
.item8{
    background-image: url(../multimedia/ring.jpg);
    background-size: cover;
    background-position: center;
}

/* pagina contacto */
.pagContacto{
    border: #111101 solid 3px;
    height: 100vh;
}
.phone{
    display: flex;
}
.mail{
    display: flex;
}
.iconos{
    padding-top: 10px;
}
.iconos i{
    font-size: 20px;
    padding-top: 10px ;
    padding-right: 10px;
}
.iconos p{
    padding-top: 10px ;
}
.detalles{
    margin-left: 20px;
}
.detalles span{
    font-size: 20px;
    margin-top: 20px;
}
/* /*contenedor formulario de contacto */
.contacto{
    padding: 20px;
    text-align: center;
    
}
/* /*titulo  formulario de contacto */
.formulario p{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    text-align: center;
    text-transform:uppercase ;
}
/* /*inputs  formulario de contacto */
.contacto input{
    width: 100%;   
    height: 30px;
}
/* /*textarea formulario de contacto */
.contacto textarea{
    width: 100%;    
}
/* /*boton de formulario de contacto */
.contacto button{
    background-color: #111101;
    color: aliceblue;
    width: 100%;
    padding: 7px;
}
/* pagina mi cuenta */

/* /*contenedor de cuenta  */
.iniciar{
    background-color: rgb(236, 230, 230);
    margin: 10px;
    border: #111101  solid 1px ;
}
/* /*titulo ya tengo una cuenta */
.titulo {
    padding: 10px;
    font-size: 15px;
}
/* /*contenedor de inputs */
.sesion{
    padding: 15px;
}
/* /*inputs de formulario mi cuenta */
.sesion input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
}
/* /*boton iniciar sesion */
.sesion button{
    width: 100%;
    padding: 7px 33px;
    margin-top: 10px;
    background-color: #111101;
    color: aliceblue;
}
.olvidaste{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
.clientes{
    margin: 15px 0px 10px 25px;
}
.clientes p{
    padding: 10px 0px 0px 0px;
}
.cuenta{
    text-align: center;
    text-transform: uppercase;
    background-color: #111101;
    height: 30px;
    width: 90%;
    padding: 5px;
    margin: 15px
}
.cuenta span{
    font-size: 14px;
    padding-top: 3px;
    color:aliceblue;
    text-align: center;
}


@media (min-width: 480px){
    .productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}
@media (max-width: 640px) {
    .header ul{
        display: none;
    }
}    

/* Vista desktop */
@media (min-width: 640px) {
    .grid-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 60px auto  60px;
    }
    .productos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }
.header{
    grid-area: header;  
}

.menu{
    display:none;
}
li a:hover{
    background: #F9F871;
    transition: .5s;
}

/* lista de navegacion */
ul li {
    display:inline-block; 
    line-height: 55px;
    font-size: 15px;
} 

li a{
    color: aliceblue;
}

.main{
    grid-area: main;   
}
.foto{
    height: 100%;
    background-size: cover;
}
.aside{
    grid-area: aside;
    height: auto;
}
iframe{
    background-size: cover;
    height: 90%;
    width: 100%;
}
.footer{
    grid-area: footer;
}
/* fin pagina index */

/* pagina nosotros */
.nosotros{
    display: flex;
}
/* /*imagen nosotros */
.nleft{
    width: 50%;
    height: 100%;
}
/*parrafo de nosotros*/
.nright{
    width: 50%;
    height: 100%;
    font-size: 21px;
}
.iniciar{
    display: flex;
}
.pagContacto{
    display: flex;
}
.detalles span{
    font-size: 20px;
    margin-bottom: 30px;
    
}
}


